.navbar{
    height: 80px;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .left{
            display: flex;
            align-items: center;
            gap: 25px;
        }
        
        .center{
            font-size: 28px;
            letter-spacing: 2px;
        }

        .right{
            display: flex;
            align-items: center;
            gap: 25px;

            .icons{
                display: flex;
                gap: 15px;
                color: #777;
                cursor: pointer;

                .cartIcon{
                    position: relative;

                    span{
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color:rgb(219, 165, 15);
                        color: rgb(232, 232, 232);
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                    }
                }
            }
        }
    }
}